<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品登録</title>
<link href="css/commons.css" rel="stylesheet">
</head>
<body>

  <div class="header">
    	<h1 class="site_logo">名刺管理システム</h1>
  </div>
  
  <div class="insert">
    <div class="discription">
      <p>
        登録情報を入力してください（<span class="required"></span>は必須です）
      </p>
    </div>
  
    <div class="form_body">
      <p class="error" th:text="${errorMsg}"></p>
  
      <form action="/insertDate" method="post" th:object="${index}">
        <fieldset class="label-130">
          <div>
            <label class="required">会社名</label>
            <input type="text" th:field="*{company}" class="base-text">
            <span class="error" th:each="error: ${#fields.errors('company')}">
            	[[ ${error} ]]
            </span>
          </div>
          <div>
            <label class=>部署</label>
            <input type="text" th:field="*{department}" class="base-text">
          </div>
          <div>
            <label>役職</label>
            <input type="text" th:field="*{position}" class="base-text">
          </div>
          <div>
            <label class="required">名前</label>
            <input type="text" th:field="*{name}" class="base-text">
            <span class="error" th:each="error: ${#fields.errors('name')}">
            	[[ ${error} ]]
            </span>
          </div>
          <div>
            <label>ふりがな</label>
            <input type="text" th:field="*{read_name}" class="base-text">
          </div>
          <div>
            <label>メールアドレス</label>
            <input type="text" th:field="*{mail}" class="base-text">
          </div>
          <div>
            <label>電話番号</label>
            <input type="text" th:field="*{tell}" class="base-text">
          </div>
          <div>
            <label>メモ</label>
            <textarea th:field="*{memo}" class="base-text"></textarea>
          </div>
          <div>
            <label>画像</label>
            <input type="file" name="image">
            <span class="error">エラーメッセージ</span>
          </div>
        </fieldset>
        <div class="btns">
          <button type="button" onclick="openModal()" class="basic_btn">登録</button>
          <input type="button" onclick="location.href='/back'" value="戻る" class="cancel_btn">
        </div>
        <div id="modal">
          <p class="modal_message">登録しますか？</p>
          <div class="btns">
            <button type="submit" class="basic_btn">登録</button>
            <button type="button" onclick="closeModal()" class="cancel_btn">キャンセル</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="fadeLayer"></div>
  <script src="./js/commons.js"></script>
</body>
</html>