<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>更新</title>
<link href="/css/commons.css" rel="stylesheet">
</head>
<body>
  <div class="header">
    	<h1 class="site_logo">名刺管理システム</h1>
  </div>

  <div class="insert">
  	<div class="discription">
      <p>
        登録情報を入力してください（<span class="required"></span>は必須です）
      </p>
    </div>
    <div class="form_body">
      <p class="error" th:text="${errorMsg}"></p>

      <form action="/update" method="post" th:object="${index}">
        <input type="hidden" name="id" th:value="${businessCard}">
        <fieldset class="label-130 product_block">
          <p class="error">エラーメッセージ</p>
          <div th:each="business : ${businessCard}">
          <div>
            <label class="required">会社名</label>
            <input type="text" name="company" th:value="${business.company}" class="base-text">
            <span class="error" th:each="error: ${#fields.errors('company')}">
            	[[ ${error} ]]
            </span>
          </div>
          <div>
            <label>部署</label>
            <input type="text" name="department" th:value="${business.department}" class="base-text">
          </div>
          <div>
            <label>役職</label>
            <input type="text" name="position" th:value="${business.position}" class="base-text">
          </div>
          <div>
            <label class="required">名前</label>
            <input type="text" name="name" th:value="${business.name}" class="base-text">
            <span class="error" th:each="error: ${#fields.errors('name')}">
            	[[ ${error} ]]
            </span>
          </div>
          <div>
            <label>ふりがな</label>
            <input type="text" name="readName" th:value="${business.readName}"  class="base-text">
          </div>
          <div>
            <label>メールアドレス</label>
            <input type="text" name="mail" th:value="${business.mail}"  class="base-text">
          </div>
          <div>
            <label>電話番号</label>
            <input type="text" name="tell" th:value="${business.tell}"  class="base-text">
          </div>
          <div>
            <label>メモ</label>
            <textarea name="memo"th:text="${business.memo}"  class="base-text" style="background-color: rgb(209, 209, 209);">
            </textarea>
          </div>
          <div>
            <label>画像</label>
            <input type="file" th:text="${business.image}"  name="image">
            
          </div>
          </div>
        </fieldset>
          <div class="btns">
            <button type="button" onclick="openModal()" class="basic_btn">更新</button>
            <input type="button" th:onclick="|location.href='/detail/${businessCard.id}'|" value="戻る" class="cancel_btn">
          </div>
          <div id="modal">
            <p class="modal_message">更新しますか？</p>
            <div class="btns">
              <a class="basic_btn" th:href="|/update/${businessCard.id}|">更新</a>
<!--               <button type="submit" name="update" class="basic_btn">更新</button> -->
              <button type="button" onclick="closeModal()" class="cancel_btn">キャンセル</button>
            </div>
          </div>
      </form>
    </div>
  </div>
  <div id="fadeLayer"></div>
</body>
</html>
<script src="/js/commons.js"></script>